<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="device_ip" class="control-label col-xs-12 col-sm-2">设备编号</label>
        <div class="col-xs-12 col-sm-8" style="padding-top: 8px;color: blue; font-weight: bold;">{$row.disk_uuid}</div>
    </div>
    {if condition="$auth->isSuperAdmin()"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('BelongToUser')}</label>
        <div class="col-xs-12 col-sm-8">
            {$userList}
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label for="device_ip" class="control-label col-xs-12 col-sm-2">服务器IP</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="device_ip" name="row[ip]" value="{$row.ip|htmlentities}"  />
        </div>
    </div>
    <div class="form-group">
        <label for="device_isp" class="control-label col-xs-12 col-sm-2">网络运营商</label>
        <div class="col-xs-12 col-sm-8">
            <select id="device_isp" class="form-control selectpicker" name="row[isp]" val="{$row.isp}">
                <option value="电信"{if condition="$row['isp'] == '电信'"} selected="selected"{/if}>电信</option>
                <option value="联通"{if condition="$row['isp'] == '联通'"} selected="selected"{/if}>联通</option>
                <option value="移动"{if condition="$row['isp'] == '移动'"} selected="selected"{/if}>移动</option>
            </select>
        </div>
    </div>
    {if condition="$auth->isSuperAdmin()"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审核</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status_review]', ['waiting'=>'等待', 'rejected'=>'驳回', 'pass'=>'通过'], $row['status_review'])}
        </div>
    </div>
    <?php $class = ($row['status_review'] == 'rejected') ? 'form-group' : 'form-group hide'?>
    <div class="{:$class}" id="rejected_reason_box">
        <label for="rejected_reason" class="control-label col-xs-12 col-sm-2">驳回原因:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="rejected_reason" name="rejected_reason" style="height:100px;">{:$row.rejected_reason}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status_device]', ['wait_handshake' => '就绪', 'abnormal'=>'异常', 'lock'=>'锁定'], $row['status_device'])}
        </div>
    </div>
    <?php $class = ($row['status_device'] == 'abnormal' || $row['status_device'] == 'offline') ? 'form-group hide' : 'form-group'?>
    <div class="{:$class}" id="status_note_box">
        <label for="status_note" class="control-label col-xs-12 col-sm-2">状态备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="status_note" name="status_note" style="height:120px;">{:$row.status_note}</textarea>
        </div>
    </div>
    {else/}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审核</label>
        <div class="col-xs-12 col-sm-8" style="padding-top: 8px;">
            {switch name="$row.status_review" }
            {case value="waiting" break="1"}<span style="color: orangered">等待审核</span>{/case}
            {case value="rejected" break="1"}<span style="color: red">未通过审核</span>{/case}
            {case value="pass" break="1"}<span style="color: green">已通过审核</span>{/case}
            {/switch}
        </div>
    </div>
    {/if}
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">保存</button>
            <button id="connect_close" device_id="{$row.id}" type="button" class="btn btn-default btn-embossed">强制断线</button>
        </div>
    </div>
</form>