<!-- Logo -->
<a href="javascript:;" class="logo">
    <!-- 迷你模式下Logo的大小为50X50 -->
    <span class="logo-mini">{$site.name|mb_substr=0,4,'utf-8'|mb_strtoupper='utf-8'|htmlentities}</span>
    <!-- 普通模式下Logo -->
    <span class="logo-lg">{$site.name|htmlentities}</span>
</a>

<!-- 顶部通栏样式 -->
<nav class="navbar navbar-static-top">

    <!--第一级菜单-->
    <div id="firstnav">
        <!-- 边栏切换按钮-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">{:__('Toggle navigation')}</span>
        </a>

        <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
        <ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs" role="tablist">
            {$navlist}
        </ul>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <?php if ($auth->isSuperAdmin()) { ?>
                <li><a href="__PUBLIC__" target="_blank"><i class="fa fa-home" style="font-size:14px;"></i></a></li>
                <li><a href="javascript:" id="bolt_manager"><i class="fa fa-bolt" style="font-size:14px;"></i></a></li>
                <!-- 清除缓存 -->
                <li>
                    <a href="javascript:;" data-toggle="dropdown" title="{:__('Wipe cache')}">
                        <i class="fa fa-trash"></i>
                    </a>
                    <ul class="dropdown-menu wipecache">
                        <li><a href="javascript:;" data-type="all"><i class="fa fa-trash"></i> {:__('Wipe all cache')}</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" data-type="content"><i class="fa fa-file-text"></i> {:__('Wipe content cache')}</a></li>
                        <li><a href="javascript:;" data-type="template"><i class="fa fa-file-image-o"></i> {:__('Wipe template cache')}</a></li>
                        <li><a href="javascript:;" data-type="addons"><i class="fa fa-rocket"></i> {:__('Wipe addons cache')}</a></li>
                    </ul>
                </li>

                <!-- 多语言列表 -->
                {if $Think.config.lang_switch_on}
                <li class="hidden-xs">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                    <ul class="dropdown-menu">
                        <li class="{$config['language']=='zh-cn'?'active':''}">
                            <a href="?ref=addtabs&lang=zh-cn">简体中文</a>
                        </li>
                        <li class="{$config['language']=='en'?'active':''}">
                            <a href="?ref=addtabs&lang=en">English</a>
                        </li>
                    </ul>
                </li>
                {/if}


                <?php } ?>

                <!-- 全屏按钮 -->
                <li class="hidden-xs">
                    <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
                </li>

                <!-- 账号信息下拉框 -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{$admin.avatar|cdnurl|htmlentities}" class="user-image" alt="">
                        <span class="hidden-xs">{$admin.nickname|htmlentities}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{$admin.avatar|cdnurl|htmlentities}" class="img-circle" alt="">

                            <p>
                                {$admin.nickname|htmlentities}
                                <small>{$admin.logintime|date="Y-m-d H:i:s",###}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="general/profile" class="btn btn-primary addtabsit"><i class="fa fa-user"></i>
                                    {:__('Profile')}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{:url('index/logout')}" class="btn btn-danger"><i class="fa fa-sign-out"></i>
                                    {:__('Logout')}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 控制栏切换按钮 -->
                <li class="hidden-xs">
                    <a href="javascript:;" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </div>

    {if $Think.config.fastadmin.multiplenav}
    <!--第二级菜单,只有在multiplenav开启时才显示-->
    <div id="secondnav">
        <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist">
            {if $fixedmenu}
            <li role="presentation" id="tab_{$fixedmenu.id}" class="{:$referermenu?'':'active'}"><a href="#con_{$fixedmenu.id}" node-id="{$fixedmenu.id}" aria-controls="{$fixedmenu.id}" role="tab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> <span>{$fixedmenu.title}</span> <span class="pull-right-container"> </span></a></li>
            {/if}
            {if $referermenu}
            <li role="presentation" id="tab_{$referermenu.id}" class="active"><a href="#con_{$referermenu.id}" node-id="{$referermenu.id}" aria-controls="{$referermenu.id}" role="tab" data-toggle="tab"><i class="fa fa-list fa-fw"></i> <span>{$referermenu.title}</span> <span class="pull-right-container"> </span></a> <i class="close-tab fa fa-remove"></i></li>
            {/if}
        </ul>
    </div>
    {/if}
</nav>

<div id="bolt_manager_btn" style="display: none">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="fixed-table-toolbar">
                    <div class="bs-bars pull-left">
                        <div id="toolbar" class="toolbar">
                            <a href="javascript:;" task_name="add_iqiyi_devices" id="batch_add_device" class="btn btn-info btn-manager">批量添加设备</a>
                            <a href="javascript:;" task_name="iqiyi_collect" id="iqiyi_collect" class="btn btn-info btn-manager">拉取指定设备数据</a>
                            <a href="javascript:;" task_name="iqiyi_collect_all" id="iqiyi_collect_all" class="btn btn-info btn-manager">拉取全部设备数据</a>
                            <a href="javascript:;" task_name="daily_network_count" id="daily_network_count" class="btn btn-info btn-manager">汇总设备数据</a>
                            <a href="javascript:;" task_name="daily_network_count95" id="daily_network_count95" class="btn btn-info btn-manager">设备数据取点</a>
                            <a href="javascript:;" task_name="reset_device_count" id="reset_device_count" class="btn btn-info btn-manager">重置统计数据</a>
                            <a href="javascript:;" task_name="backup_data" id="backup_data" class="btn btn-info btn-manager">备份历史数据</a>
                            <a href="javascript:;" task_name="restore" id="restore" class="btn btn-info btn-manager">恢复历史数据</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" id="html_box">

            </div>
            <div class="col-xs-12">
                <div id="html_box_message" style="width: 100%;height: 200px; overflow-y: scroll; margin-top: 20px; border:1px solid #d2d6de; padding: 10px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="batch_add_device_box" style="display: none">
    <h3 style="margin-top: 0px;">批量添加设备</h3>
    <h5>格式：<span style="color: #003dff">设备编号,运营商,用户ID,汇总限期</span> 运营商可用为：电信、联通、移动，每行指定一个设备；用户ID：须要先创建用户；汇总限期：须到达该日期才进行数据汇总</h5>
    <h5>注意：<span style="color: #003dff">设备编号,运营商,用户ID,汇总限期</span>之间的逗号为英式逗号，每行一条。</h5>
    <textarea id="add_batch_val" style="width: 100%; height: 200px; margin-bottom: 10px;" class="form-control"></textarea>
    <a href="javascript:;" id="run_add_batch" class="btn btn-success run_task_btn">执行添加</a>
</div>
<div id="iqiyi_collect_box" style="display: none">
    <h3 style="margin-top: 0px;">拉取指定设备数据</h3>
    <h5>输入设备编号，每行一个设备编号</h5>
    <textarea id="iqiyi_collect_val" style="width: 100%; height: 200px; margin-bottom: 10px;" class="form-control"></textarea>
    <a href="javascript:;" id="run_iqiyi_collect" class="btn btn-success run_task_btn">执行拉取</a>
</div>
<div id="iqiyi_collect_all_box" style="display: none">
    <h3 style="margin-top: 0px;">拉取全部设备数据</h3>
    <h5>对所有设备数据进行拉取，可能会较慢，您可以关闭本页，过会来查看结果。</h5>
    <a href="javascript:;" id="run_iqiyi_collect_all" class="btn btn-success run_task_btn">执行拉取</a>
</div>
<div id="daily_network_count_box" style="display: none">
    <h3 style="margin-top: 0px;">汇总设备数据</h3>
    <h5>对所有设备数据进行汇总，可得到所有设备总计的带宽速度。请不要搞无数据的年月</h5>
    <div class="col-xs-5" style="padding-left: 0;">
        输入要汇总年月
        <input id="dnc_year_month" class="form-control" type="text" value="<?=date('Y-m')?>" />
    </div>
    <div class="col-xs-5">
        爱奇艺输入：iqiyi 系统输入：system_ware
        <input id="dnc_data_src" class="form-control" type="text" value="iqiyi" />
    </div>
    <div class="col-xs-2" style="padding-top: 18px;">
        <a href="javascript:;" id="run_daily_network_count" class="btn btn-success run_task_btn">执行汇总</a>
    </div>
</div>
<div id="daily_network_count95_box" style="display: none">
    <h3 style="margin-top: 0px;">设备数据取点</h3>
    <h5>对所有设备数据进行95取点计算，按天日期格式为y-m-d 按月y-m，更新设备列表页的图表数据等</h5>
    <div class="col-xs-5" style="padding-left: 0;">
        输入要汇总年月
        <input id="dnc95_year_month" class="form-control" type="text" value="<?=date('Y-m')?>" />
    </div>
    <div class="col-xs-5">
        按月输入：m 按天输入：d
        <input id="dnc95_type" class="form-control" type="text" value="m" />
    </div>
    <div class="col-xs-2" style="padding-top: 18px;">
        <a href="javascript:;" id="run_daily_network_count95" class="btn btn-success run_task_btn">执行取点</a>
    </div>
</div>
<div id="reset_device_count_box" style="display: none">
    <h3 style="margin-top: 0px;">重置统计数据</h3>
    <h5>更新在设备列表页面，所看到的：今日速度、本月速度、上月速度...</h5>
    <a href="javascript:;" id="run_reset_device_count" class="btn btn-success run_task_btn">执行重置</a>
</div>
<div id="backup_data_box" style="display: none">
    <h3 style="margin-top: 0px;">备份历史数据</h3>
    <h5>备份设备历史的取点速度数据，减轻数据库的负载。不可对当月数据进行备份。</h5>
    <div class="col-xs-3" style="padding-left: 0;">
        请输入要备份的月份
        <input id="backup_date" class="form-control" type="text" value="<?=date('Y-m')?>" />
    </div>
    <div class="col-xs-2" style="padding-left: 0; padding-right: 0; padding-top:3px;">
        <div for="history_del">备份后删除</div>
        <input id="history_del" type="checkbox" value="1" checked />
    </div>
    <div class="col-xs-2" style="padding-top: 18px;">
        <a href="javascript:;" id="run_backup_data" class="btn btn-success run_task_btn">执行备份</a>
    </div>
</div>
<div id="restore_box" style="display: none">
    <h3 style="margin-top: 0px;">恢复历史数据</h3>
    <h5>有备份，才有数据可恢复。可通过“恢复至”恢复到指定数据库，格式：<em style="color: red"><em style="color:darkgreen">username</em>:<em style="color:darkgreen">password</em>@tcp(<em style="color:darkgreen">address</em>)/<em style="color:darkgreen">dbname</em>?charset=utf8&parseTime=True&loc=Local</em></h5>
    <div class="col-xs-3" style="padding-left: 0;">
        请输入要恢复的月份
        <input id="restore_date" class="form-control" type="text" value="<?=date('Y-m')?>" />
    </div>
    <div class="col-xs-5" style="padding-left: 0;">
        恢复至
        <input id="restore_device" class="form-control" placeholder="可不填，默认为当前数据库" type="text" value="" />
    </div>
    <div class="col-xs-1" style="padding-left: 0; padding-right: 0; padding-top:3px;">
        <div for="new_table">新表</div>
        <input id="new_table" type="checkbox" value="1" checked />
    </div>
    <div class="col-xs-1" style="padding-left: 0; padding-right: 0; padding-top:3px;">
        <div for="new_table">新ID</div>
        <input id="new_id" type="checkbox" value="1" checked />
    </div>
    <div class="col-xs-2" style="padding-top: 18px;">
        <a href="javascript:;" id="run_restore" class="btn btn-success run_task_btn">执行恢复</a>
    </div>
</div>
